/* HTML5 display-role reset for older browsers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Variables */
/* Fonts */
@font-face {
  font-family: 'kirvybold';
  src: url('../fonts/kirvy-bold-webfont.woff2') format('woff2'), url('../fonts/kirvy-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kirvyregular';
  src: url('../fonts/kirvy-regular-webfont.woff2') format('woff2'), url('../fonts/kirvy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*  Body  */
.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media only screen and (max-width: 1063px) {
  .wrapper {
    width: 95%;
  }
}
/*  Menu  */
header div {
  display: table;
  margin: 0 auto;
}
header div ul .dropdown {
  display: inline-block;
}
header div ul .dropdown .dropbtn {
  display: inline-block;
}
header div ul .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-left: -5px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header div ul .dropdown .dropdown-content a {
  text-decoration: none;
  display: block;
  font-family: 'kirvybold', Arial;
  padding: 14px 5px;
  font-size: 14px;
  letter-spacing: 2px;
}
header div ul .dropdown .dropdown-content a:hover {
  background-color: #e0e0e0;
}
@media only screen and (max-width: 700px) {
  header div ul .dropdown .dropdown-content a {
    font-size: 12px;
  }
}
header div ul .dropdown:hover .dropdown-content {
  display: block;
}
header div ul li {
  display: inline-block;
  padding: 10px 5px;
}
header div ul li:hover {
  background-color: #e0e0e0;
}
header div ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'kirvybold', Arial;
}
@media only screen and (max-width: 700px) {
  header div ul li a {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  header div ul li a {
    padding: 10px 0px;
  }
}
header div ul .menu_spacer {
  font-size: 25px;
  font-weight: bold;
}
header div ul .menu_spacer:hover {
  background-color: white;
}
#info_bar {
  width: 100%;
  max-height: 100px;
  margin: 20px 0;
}
#info_bar .phone_section_header {
  display: inline-block;
  margin-right: 20px;
}
#info_bar .phone_section_header a {
  display: block;
  font-family: 'kirvybold', Arial;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
}
#info_bar .phone_section_header a img {
  max-width: 30px;
}
#info_bar .phone_section_header a p {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  top: -9px;
}
#info_bar .phone_section_header a p:hover {
  color: #e0e0e0;
}
#info_bar .reservation_section_header {
  display: inline-block;
}
#info_bar .reservation_section_header a {
  display: block;
  font-family: 'kirvybold', Arial;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 2px;
}
#info_bar .reservation_section_header a img {
  max-width: 30px;
}
#info_bar .reservation_section_header a p {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  top: -4px;
}
#info_bar .reservation_section_header a p:hover {
  color: #e0e0e0;
}
#info_bar .section_social_media {
  display: inline-block;
  float: right;
}
#info_bar .section_social_media a {
  text-decoration: none;
}
#info_bar .section_social_media img {
  max-width: 30px;
}
section {
  background-image: url(../images/background_image_footer.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 50px;
  background-size: contain;
}
@media only screen and (max-width: 700px) {
  section {
    background-image: none;
  }
}
section .section_logo_mobile {
  display: none;
  background-color: #f2e7d7;
  height: 280px;
  width: 29.5%;
  min-width: 302px;
  margin-right: 26px;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section .section_logo_mobile {
    min-width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  section .section_logo_mobile {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section .section_logo_mobile {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}
section .section_logo_mobile img {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  section .section_logo_mobile img {
    width: 60%;
  }
}
section #section_coiffure {
  width: 100%;
  height: 280px;
}
section #section_coiffure a {
  text-decoration: none;
}
section #section_coiffure .section_coiffure_femme {
  background-image: url(../images/image_coiffure_femme.jpg);
  height: 100%;
  width: 67.5%;
  display: inline-block;
  margin-right: 26px;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section #section_coiffure .section_coiffure_femme {
    width: 65%;
  }
}
@media only screen and (max-width: 700px) {
  section #section_coiffure .section_coiffure_femme {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_coiffure .section_coiffure_femme {
    width: 100%;
    margin-bottom: 20px;
  }
}
section #section_coiffure .section_coiffure_femme:hover {
  opacity: 0.5;
  cursor: pointer;
}
section #section_coiffure .section_coiffure_homme {
  background-image: url(../images/image_coiffure_homme.jpg);
  background-position: center;
  height: 100%;
  width: 29.5%;
  min-width: 302px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section #section_coiffure .section_coiffure_homme {
    min-width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  section #section_coiffure .section_coiffure_homme {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_coiffure .section_coiffure_homme {
    width: 100%;
    background-image: url(../images/image_coiffure_homme_mobile.jpg);
    background-position: center;
  }
}
section #section_coiffure .section_coiffure_homme:hover {
  opacity: 0.5;
  cursor: pointer;
}
section .coiffure_title_section {
  width: 100%;
  height: 40px;
  position: relative;
  top: -80px;
}
section .coiffure_title_section h1 {
  display: block;
  font-family: 'kirvybold', Arial;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 40px;
  width: 150px;
  background-color: white;
  text-align: center;
  float: right;
  margin-right: 23%;
}
@media only screen and (max-width: 700px) {
  section .coiffure_title_section h1 {
    margin-right: 40%;
  }
}
@media only screen and (max-width: 600px) {
  section .coiffure_title_section h1 {
    margin-right: 36%;
  }
}
@media only screen and (max-width: 600px) {
  section .coiffure_title_section {
    top: -310px;
  }
}
section #section_salon {
  width: 100%;
  height: 280px;
  clear: both;
  position: relative;
  top: -13px;
}
section #section_salon a {
  text-decoration: none;
}
section #section_salon .section_logo {
  background-color: #f2e7d7;
  height: 100%;
  width: 29.5%;
  min-width: 302px;
  display: inline-block;
  margin-right: 26px;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section #section_salon .section_logo {
    min-width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  section #section_salon .section_logo {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_salon .section_logo {
    width: 100%;
    margin-bottom: 20px;
    display: none;
  }
}
section #section_salon .section_logo img {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  section #section_salon .section_logo img {
    width: 60%;
  }
}
section #section_salon .section_salon {
  background-image: url(../images/image_salon_ludik.jpg);
  height: 100%;
  width: 67.5%;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section #section_salon .section_salon {
    width: 65%;
  }
}
@media only screen and (max-width: 700px) {
  section #section_salon .section_salon {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_salon .section_salon {
    width: 100%;
    margin-bottom: 20px;
  }
}
section #section_salon .section_salon:hover {
  opacity: 0.5;
  cursor: pointer;
}
section .salon_title_section {
  width: 100%;
  height: 40px;
  position: relative;
  top: -244px;
}
section .salon_title_section h1 {
  display: block;
  font-family: 'kirvybold', Arial;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 40px;
  width: 150px;
  background-color: white;
  text-align: center;
  float: right;
  margin-right: 23%;
}
@media only screen and (max-width: 700px) {
  section .salon_title_section h1 {
    margin-right: 14%;
  }
}
@media only screen and (max-width: 600px) {
  section .salon_title_section h1 {
    margin-right: 36%;
  }
}
@media only screen and (max-width: 600px) {
  section .salon_title_section {
    top: -281px;
  }
}
section #section_barbier {
  width: 100%;
  height: 280px;
  clear: both;
  position: relative;
  top: -26px;
}
section #section_barbier a {
  text-decoration: none;
}
section #section_barbier .section_photos {
  background-image: url(../images/image_section_photos.jpg);
  height: 100%;
  width: 29.5%;
  min-width: 302px;
  display: inline-block;
  margin-right: 26px;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section #section_barbier .section_photos {
    min-width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  section #section_barbier .section_photos {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_barbier .section_photos {
    width: 100%;
    margin-bottom: 20px;
    background-image: url(../images/image_photos_mobile.jpg);
    background-position: center;
  }
}
section #section_barbier .section_photos:hover {
  opacity: 0.5;
  cursor: pointer;
}
section #section_barbier .section_photos .photos_title_section {
  width: 20%;
  height: 40px;
  position: absolute;
}
section #section_barbier .section_photos .photos_title_section h1 {
  display: block;
  font-family: 'kirvybold', Arial;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 40px;
  width: 150px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
@media only screen and (max-width: 700px) {
  section #section_barbier .section_photos .photos_title_section h1 {
    margin-right: 14%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_barbier .section_photos .photos_title_section h1 {
    margin-right: 36%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_barbier .section_photos .photos_title_section {
    top: 0px;
    width: 100%;
    position: relative;
  }
}
section #section_barbier .section_barbier {
  background-image: url(../images/image_barbier_ludik.jpg);
  background-color: blue;
  height: 100%;
  width: 67.5%;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media only screen and (max-width: 1063px) {
  section #section_barbier .section_barbier {
    width: 65%;
  }
}
@media only screen and (max-width: 700px) {
  section #section_barbier .section_barbier {
    width: 46%;
  }
}
@media only screen and (max-width: 600px) {
  section #section_barbier .section_barbier {
    width: 100%;
    margin-bottom: 20px;
  }
}
section #section_barbier .section_barbier:hover {
  opacity: 0.5;
  cursor: pointer;
}
section .barbier_title_section {
  width: 100%;
  height: 40px;
  position: relative;
  top: -244px;
}
section .barbier_title_section h1 {
  display: block;
  font-family: 'kirvybold', Arial;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 40px;
  width: 150px;
  background-color: white;
  text-align: center;
  float: right;
  margin-right: 23%;
}
@media only screen and (max-width: 700px) {
  section .barbier_title_section h1 {
    margin-right: 14%;
  }
}
@media only screen and (max-width: 600px) {
  section .barbier_title_section h1 {
    margin-right: 36%;
  }
}
@media only screen and (max-width: 600px) {
  section .barbier_title_section {
    top: -281px;
  }
}
@media only screen and (max-width: 700px) {
  section #section_produits {
    display: none;
  }
}
section #section_produits_1 {
  clear: both;
  position: relative;
  top: -38px;
  width: 101%;
}
section #section_produits_1 a {
  text-decoration: none;
}
section #section_produits_1 a .container {
  display: inline-block;
  width: 21.5%;
  margin-right: 3%;
}
section #section_produits_1 a .container div {
  width: 100%;
  display: inline-block;
  padding: 10px;
  background-color: #f3f0ed;
}
section #section_produits_1 a .container div img {
  width: 85%;
  display: block;
  margin: 0 auto;
}
section #section_produits_1 a .container .no-bg {
  background-color: white;
}
section #section_produits_2 {
  clear: both;
  position: relative;
  top: -24px;
  width: 101%;
}
section #section_produits_2 a {
  text-decoration: none;
}
section #section_produits_2 a .container {
  display: inline-block;
  width: 21.5%;
  margin-right: 3%;
}
section #section_produits_2 a .container div {
  width: 100%;
  display: inline-block;
  padding: 10px;
  background-color: #f3f0ed;
}
section #section_produits_2 a .container div img {
  width: 85%;
  display: block;
  margin: 0 auto;
}
section #section_produits_2 a .container .no-bg {
  background-color: white;
}
section #section_produits_3 {
  clear: both;
  position: relative;
  top: -9px;
  width: 101%;
}
section #section_produits_3 a {
  text-decoration: none;
}
section #section_produits_3 a .container {
  display: inline-block;
  width: 21.5%;
  margin-right: 3%;
}
section #section_produits_3 a .container div {
  width: 100%;
  display: inline-block;
  padding: 10px;
  background-color: #f3f0ed;
}
section #section_produits_3 a .container div img {
  width: 85%;
  display: block;
  margin: 0 auto;
}
section #section_produits_3 a .container .no-bg {
  background-color: transparent;
}
section .containerLarge {
  display: inline-block;
  width: 46.5%;
  margin-right: 3%;
}
section .containerLarge div {
  width: 100%;
  display: inline-block;
  padding: 10px;
  background-color: #f3f0ed;
}
section .containerLarge div img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
section .containerLarge .no-bg {
  background-color: white;
}
footer {
  width: 100%;
  clear: both;
}
footer #address_bar_footer {
  background-color: #b3bbbe;
  padding: 20px;
}
footer #address_bar_footer a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 15px;
  position: relative;
  top: -5px;
  font-family: kirvybold, arial;
  color: #818285;
}
footer #address_bar_footer a img {
  max-width: 30px;
  top: 7px;
  padding-left: 7px;
  position: relative;
}
footer #address_bar_footer a:hover {
  color: 363636;
}
footer .logo_footer img {
  max-width: 20px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
/*===============================================================================*/
#page_barbier div {
  width: 49%;
  background-color: red;
  height: 50px;
  display: inline-block;
  background-image: url(../images/image_barbier_ludik_full.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#page_barbier .barbier_title {
  height: 50px;
  background-color: #f0e7d8;
  width: 49%;
  display: inline-block;
  background-image: none;
  float: right;
}
#page_barbier .barbier_title h1 {
  height: 400px;
}
#page_barbier .div_img_barbier {
  clear: both;
  width: 100%;
  height: 400px;
  background-image: url(../images/image_barbier_ludik_full.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
